{# TP Bucket-list (hello-world) #}
{#<!doctype html>#}
{#<html lang="fr">#}
{#<head>#}
{#    <title>Document</title>#}
{#</head>#}
{#<body>#}
{#<h1>TP Bucket-List</h1>#}
{#</body>#}
{#</html>#}

{# TP Bucket-list (twig) #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Accueil
{% endblock %}

{% block main %}
    <h1 class="align-left">Ceci est la page d'accueil !</h1>
{% endblock %}



