@font-face {
    src: url("../fonts/Butler_Regular.otf");
    font-family: 'butler';
}

* {
    font-family: Calibri;
    /*fonts-family: 'Ubuntu', sans-serif; */ /* Google Fonts */
    /*fonts-family: 'butler', sans serif;*/
    /* téléchargé depuis Da Fonts
      /*border : 1px dashed black;*/
}

.grid-page {
    display: grid;
    grid-template-columns: repeat(1, 100vw);
    /*grid-gap: 10px;*/
    margin: 0 0;
    height: 100vh;
}

/*
.grid-ligne {
    display: grid;
    grid-template-columns: repeat(12, 9vw);
}
*/
.space-right {
    margin-right: 3vw;
}

.logo {
    margin-top: 1vh;
    max-width: 3vw;
}

.align-left {
    padding-left: 10vw;
}

.text-grand {
    font-size: 3rem;
}

header {
    background-color: cadetblue; /*#9eafa6 ;*/
    height: 13vh;
}

main {
    background-color: bisque;
    height: 79vh;
}

footer {
    background-color: burlywood;
    height: 8vh;
}

.center {
    text-align: center;
}

.liste {
    text-decoration: none;
    color: cadetblue;
}

.liste:hover {
    text-decoration: underline;
    color: black;
}

.alert-success {
    /* haut | droit | bas | gauche */
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;
    color: burlywood;
    background-color: darkcyan;
    border-radius: 0.5em;
    text-align: center;
}


